<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToasterBros.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>177B66A61D984E800011EE8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>177B66BA1D984E800011EE8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>177B66C51D984E800011EE8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
